.comment-subform-comment{
    display: flex;
    width: 70%;
}
.comment-ibox{
    width: 80%;
    padding: 0.5%;
    padding-left: 2%;
    background-color: transparent;
    border:0 ;
    color: white;
    border-bottom: 2px solid gray;
}
.comment-addbtn-comment{
    cursor: pointer;
    border: 2px solid transparent;
    border-bottom: 2px solid rgb(64, 64, 64);
    background-color: transparent;
    color: aliceblue;
    font-size: large;
    width: 20%;
}
.comment-addbtn-comment:hover{
    border: 2px solid rgba(64, 64, 64,0.05);
    border-bottom: 2px solid rgb(64, 64, 64);
    background-color: rgba(240, 248, 255, 0.05);

}

/* Display Comment Designs */
.comment-body{
    color: rgb(197,197,197);
    margin: 0;
    margin-top: 0.5rem;
}
.user-comment{
    color: rgb(158, 157, 157);
    margin: 0;
}
.editdlt-displaycomment{
    padding: 0.2rem;
    margin: 0;
    margin-bottom: 0.8rem;
    color: rgba(44, 85, 209, 0.696);
    cursor: pointer;
}
.editdlt-displaycomment i{
    padding: 0.2rem;
}